body{
  background-color: white;
}

hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 15%;
}

h1{
  color: #68BFBF;
}

h2{
  color: #68BFBF;
  text-align:center;
}

p{
  text-align: center;
}

table{text-align: center;}

form{text-align: center;}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
